<main>
  <div class="section section__wrapper">
    <form [formGroup]="form" class="form" (ngSubmit)="create()">
      <input type="text" class="form__input" formControlName="title">
      <button type="submit" class="form__action">Add</button>
    </form>

    <div class="wrapper__content">
      @for (task of tasks | sort:'completed':false; track $index) {
        <app-task [data]="task"></app-task>
      }
    </div>

    <span>scroll to see chart</span>
  </div>

  <div class="section">
    @defer {
      <app-chart [data]="tasks"></app-chart>
    }
  </div>
</main>